.additional-goods__title {
  position: relative;
  display: table;
  margin-top: 28px;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: -20px;
  margin-bottom: 35px;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  background-color: #ffffff;

  &::after {
    @include pseudo-clases;
    top: 14px;
    left: 0;
    width: 100vw;
    height: 3px;
    background-color: $background-green;
    z-index: -1;
  }
}

.additional-goods__list {
  @include reset-list-style;
}

.additional-goods__list-item {
  padding-bottom: 17px;
  border-top: 1px solid #cecece;

  &:last-child {
    border-bottom: 1px solid #cecece;
  }
}

.additional-goods__list-title {
  margin: 0;
  padding-top: 12px;
  margin-bottom: 10px;
  color: $font-medium-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.additional-goods__list-features {
  width: 103%;
  margin-left: -3px;
  margin-bottom: 13px;
}

.additional-goods__list-features tr {
  display: flex;
  justify-content: space-between;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
  border-collapse: collapse;
}

.additional-goods__list-button {
  width: 100%;
  font-size: 16px;
}

.additional-goods__special-offer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 39px;
  margin-bottom: 33px;
  width: 280px;
  height: 289px;
  background-color: $background-green;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 65px, 50% 50%;
  background-size: 20%, 100%;
}

.additional-goods__special-offer-description {
  margin: 0;
  margin-bottom: 43px;
  width: 165px;
  color: $font-white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-goods__title {
    margin-top: -65px;
    margin-bottom: 81px;
    padding-left: 39px;
    padding-right: 36px;
    margin-left: -2px;
    font-size: 36px;

    &::after {
      left: -7%;
      width: 100vw;
    }
  }

  .additional-goods__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
    padding-left: 37px;
    padding-right: 36px;
    padding-bottom: 28px;
    border: 1px solid #cecece;
    border-bottom: none;
  }

  .additional-goods__list-title {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__list-features {
    width: auto;
    margin-bottom: 18px;
  }

  .additional-goods__list-features tr {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__list-features td:last-child {
    margin-left: 49px;
    margin-right: -3px;
  }

  .additional-goods__list-features--water td:last-child {
    margin-left: 58px;
  }

  .additional-goods__list-button {
    padding-top: 2px;
  }

  .additional-goods__special-offer {
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 74px;
    width: 708px;
    height: 200px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-position: 14% 65px, 50% 50%;
    background-size: 8%, 100%;
  }

  .additional-goods__special-offer-description {
    margin-bottom: 69px;
    margin-right: 120px;
    width: 165px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods.container {
    max-width: $desktop-width;
  }

  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $desktop-width;
    margin-bottom: 88px;
  }

  .additional-goods__title {
    margin-left: -40px;
    margin-top: -64px;
    padding-left: 39px;

    &::after {
      top: 16px;
      left: -28vw;
      width: 123vw;
    }
  }

  .additional-goods__list {
    width: 895px;
  }

  .additional-goods__list-item {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  .additional-goods__list-title {
    padding-top: 2px;
    margin-bottom: 0;
  }

  .additional-goods__list-features {
    width: 289px;
    margin-right: 39px;
    margin-left: auto;
    margin-bottom: 0;
    padding-top: 10px;
  }

  .additional-goods__list-features td {
    margin-left: 0;
  }

  .additional-goods__list-features--water td:last-child {
    padding-right: 8px;
  }

  .additional-goods__list-button {
    width: 245px;
    margin: 0;
  }

  .additional-goods__special-offer {
    margin: 0;
    width: 245px;
    height: 289px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-position: 50% 67px, 50% 50%;
    background-size: 22%, 100%;
  }

  .additional-goods__special-offer-description {
    margin-bottom: 41px;
    margin-right: 41px;
    text-align: center;
  }
}
