.additional-goods__title {
  display: flex;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 30px;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;

  &::after {
    flex-grow: 1;
    flex-shrink: 0;
    content: "";
    margin-top: 13px;
    width: 53px;
    height: 3px;
    margin-left: 21px;
    background-color: $background-green;
  }
}

.additional-goods__list {
  @include reset-list-style;
}

.additional-goods__list-item {
  padding-bottom: 17px;
  border-top: 1px solid #cecece;

  &:last-child {
    border-bottom: 1px solid #cecece;
  }
}

.additional-goods__list-title {
  margin: 0;
  padding-top: 14px;
  margin-bottom: 15px;
  color: $font-medium-black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.additional-goods__list-features {
  width: 100%;
  margin-bottom: 14px;
}

.additional-goods__list-features tr {
  display: flex;
  justify-content: space-between;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
  border-collapse: collapse;
}

.additional-goods__list-button {
  width: 100%;
}

.additional-goods__special-offer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 39px;
  margin-bottom: 35px;
  width: 280px;
  height: 289px;
  background-color: $background-green;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 65px, 50% 50%;
  background-size: 20%, 100%;
}

.additional-goods__special-offer-description {
  margin: 0;
  margin-bottom: 43px;
  width: 165px;
  color: $font-white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    margin-top: -120px;
  }

  .additional-goods__title {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 55px;

    &::before {
      content: "";
      margin-top: 13px;
      width: 30px;
      height: 3px;
      margin-right: 38px;
      background-color: $background-green;
    }

    &::after {
      margin-left: 35px;
    }
  }

  .additional-goods__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 28px;
    border: 1px solid #cecece;
    border-bottom: none;
  }

  .additional-goods__list-title {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__list-features {
    width: auto;
  }

  .additional-goods__list-features tr {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__list-features td {
    margin-left: 52px;
  }

  .additional-goods__special-offer {
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 76px;
    width: 708px;
    height: 200px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-position: 14% 65px, 50% 50%;
    background-size: 8%, 100%;
  }

  .additional-goods__special-offer-description {
    margin-bottom: 69px;
    margin-right: 120px;
    width: 165px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 85px;
  }

  .additional-goods__title {
    margin-left: -110px;
    margin-right: -110px;

    &::before {
      width: 72px;
    }
  }

  .additional-goods__list {
    width: 895px;
  }

  .additional-goods__list-item {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  .additional-goods__list-title {
    margin-bottom: 0;
  }

  .additional-goods__list-features {
    width: 284px;
    margin-right: 39px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .additional-goods__list-features td {
    margin-left: 0;
  }

  .additional-goods__list-button {
    width: 245px;
    margin: 0;
  }

  .additional-goods__special-offer {
    margin: 0;
    width: 245px;
    height: 289px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-position: 50% 65px, 50% 50%;
    background-size: 20%, 100%;
  }

  .additional-goods__special-offer-description {
    margin-bottom: 43px;
    margin-right: 43px;
    text-align: center;
  }
}
