.catalog__list {
  @include reset-list-style;
  margin-top: 28px;
}

.catalog__list-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 19px;
  padding-right: 19px;
  border: solid 1px $border-color-block;
  border-bottom: none;
}

.catalog__list-item-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 140px);
}

.catalog__list-link {
  @include reset-link-style;
}

.catalog__list-title {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 15px;
  color: $font-black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__list-link .catalog__list-image {
  display: flex;
  width: 140px;
  order: -1;
}

.catalog__list-features {
  margin-left: -1px;
  margin-right: -2px;
  width: 102%;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  border-collapse: collapse;
}

.catalog__list-features-item td:last-child {
  text-align: right;
}

.catalog__list-button {
  margin-bottom: 24px;
  width: 100%;
  font-size: 16px;
}

.catalog__list-item--more {
  position: relative;
  border-bottom: solid 1px $border-color-block;

  &::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 144px;
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.catalog__list-item--more .catalog__list-title {
  margin: 0 auto;
  margin-top: 79px;
  margin-bottom: 8px;
}

.catalog__list-item--more p {
  margin: 0 auto;
  margin-bottom: 22px;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.catalog__list-button--more {
  margin-bottom: 23px;
  color: $font-grey;
  background-color: $background-grey;
}

.button:hover.catalog__list-button--more,
.button:focus.catalog__list-button--more {
  background-color: $border-color-block;
}

.button:active.catalog__list-button--more {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    justify-content: center;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    max-width: 850px;
    margin-top: 137px;
  }

  .catalog__list-item {
    margin-bottom: 138px;
    padding-left: 0;
    padding-right: 0;
    width: 324px;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: $background-grey;

    &:nth-child(2n-1) {
      margin-right: 60px;
    }
  }

  .catalog__list-item-columns {
    width: 100%;
  }

  .catalog__list-link {
    margin: 0 auto;
    order: -1;
  }

  .catalog__list-title {
    width: 140px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__list-title br {
    display: none;
  }

  .catalog__list-link .catalog__list-image {
    margin-top: -14.2%;
    width: 324px;
  }

  .catalog__list-item:nth-child(2n) .catalog__list-image {
    margin-top: -25%;
  }

  .catalog__list-features {
    margin-left: 38px;
    margin-right: 37px;
    width: 250px;
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__list-features-item {
    height: 32px;
    border-bottom: 1px solid $border-color-input;
  }

  .catalog__list-button {
    width: 249px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  .catalog__list-item--more {
    justify-content: flex-start;
    background-color: $background-white;
    border: 1px solid $border-color-input;

    &::before {
      top: 55px;
      left: 133px;
      width: 60px;
      height: 60px;
      opacity: 20%;
    }
  }

  .catalog__list-item--more .catalog__list-title {
    width: 140px;
    margin-top: 164px;
    margin-bottom: 27px;
  }

  .catalog__list-item--more p {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .catalog__list-button--more {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    padding-left: 110px;
    max-width: 1440px;
  }

  .catalog__list-item {
    margin-bottom: 145px;
    width: 245px;

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }

  .catalog__list-title {
    margin-bottom: 18px;
  }

  .catalog__list-features {
    width: 169px;
  }

  .catalog__list-link .catalog__list-image {
    margin-top: -20%;
    width: 245px;
  }

  .catalog__list-item:nth-child(2n) .catalog__list-image {
    margin-top: -34%;
  }

  .catalog__list-item--more {
    &::before {
      left: 93px;
      top: 52px;
    }
  }

  .catalog__list-item--more .catalog__list-title {
    margin-top: 161px;
  }

  .catalog__list-button {
    width: 169px;
    margin-bottom: 41px;
  }
}
