.complexes__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  background-color: $background-grey;
}

.complexes__item-title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 32px;
  padding-left: 92px;
  color: $font-black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 100;
  text-transform: uppercase;
}

.complexes__item-image-area {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $background-green;
}

.complexes__item--slim .complexes__item-image {
  margin-left: 8px;
  margin-top: -2px;
}

.complexes__item--pro .complexes__item-image {
  max-width: none;
  margin-left: -9px;
  margin-top: 11px;
}

.complexes__item-description {
  margin-left: 21px;
  margin-right: 34px;
  margin-bottom: 21px;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
}

.complexes__item-link {
  display: flex;

  @include reset-link-style;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 22px;
  color: $font-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid #dadada;

  &:active {
    opacity: 30%;
  }
}

.complexes__item-link-arrow {
  margin-top: 2px;
  margin-left: 12px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.complexes__item-link:hover .complexes__item-link-arrow,
.complexes__item-link:focus .complexes__item-link-arrow {
  width: 33px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

@media (min-width: $tablet-width) {
  .complexes {
    margin-bottom: 45px;
  }

  .complexes__item {
    margin-bottom: 30px;
  }

  .complexes__item-title {
    margin-bottom: 10px;
    padding-top: 74px;
    padding-left: 53px;
    font-size: 36px;
  }

  .complexes__item-image-area {
    top: 89px;
    left: auto;
    right: 60px;
    width: 200px;
    height: 200px;
  }

  .complexes__item--slim .complexes__item-image {
    width: 140px;
    height: 194px;
    margin-left: 30px;
    margin-top: -12px;
  }

  .complexes__item--pro .complexes__item-image {
    width: 268px;
    height: 112px;
    margin-left: -36px;
    margin-top: 45px;
  }

  .complexes__item-description {
    margin-left: 52px;
    margin-right: 275px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .complexes__item--pro .complexes__item-description {
    margin-right: 315px;
  }

  .complexes__item-link {
    margin-left: 53px;
    padding-top: 55px;
    padding-bottom: 62px;
    font-size: 20px;
    line-height: 20px;
    border-top: none;
  }

  .complexes__item-link-arrow {
    margin-top: 5px;
    margin-left: 23px;
  }
}

@media (min-width: $desktop-width) {
  .complexes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $desktop-width;
    margin-bottom: 43px;
  }

  .complexes__item {
    width: 570px;
  }

  .complexes__item-title {
    margin-bottom: 58px;
    padding-top: 77px;
    padding-left: 214px;
  }

  .complexes__item-image-area {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }

  .complexes__item--slim .complexes__item-image {
    width: 70px;
    height: 97px;
    margin-left: 15px;
    margin-top: -5px;
  }

  .complexes__item--pro .complexes__item-image {
    width: 134px;
    height: 56px;
    margin-left: -19px;
    margin-top: 23px;
  }

  .complexes__item-description {
    margin-right: 56px;
  }

  .complexes__item--pro .complexes__item-description {
    margin-right: 70px;
  }

  .complexes__item-link {
    padding-top: 31px;
  }
}
