.contacts {
  position: relative;
}

.contacts--bg-grey {
  background-color: $background-grey;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 24px;
  padding-bottom: 25px;
}

.contacts__address-appeal {
  margin: 0;
  width: 125px;
  color: $font-black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

.contacts__address address {
  width: 135px;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  display: flex;
  width: 320px;
  height: 365px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 45%, 50% 105%;
  background-size: 20%, 100%;
  background-clip: content-box;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    justify-content: space-between;
    align-items: stretch;
    padding-top: 64px;
    padding-left: 70px;
    padding-right: 72px;
    padding-bottom: 56px;
  }

  @media (max-width: $desktop-width - 1px) {
    .contacts--catalog .contacts__address {
      padding-top: 65px;
      padding-left: 70px;
      padding-right: 72px;
      padding-bottom: 60px;
    }

    .contacts--form .contacts__address {
      padding-top: 66px;
    }
  }

  .contacts__address-appeal {
    display: flex;
    margin-top: 2px;
    width: 170px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address address {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: -2px;
    width: 155px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__address span {
    align-self: flex-end;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-position: 50% 51%, 50% 50%;
    background-size: 16%, 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
  }

  .contacts__address {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: auto;
    padding-top: 63px;
    padding-left: 76px;
    padding-right: 90px;
    padding-bottom: 62px;
    background-color: $background-white;
  }

  .contacts__address address {
    justify-content: flex-start;
    text-align: left;
    margin-bottom: -3px;
  }

  .contacts__map {
    width: $desktop-width;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-position: 75.9% 50.9%, 50% 50%;
    background-size: 8.7%, 100%;
  }
}
