.features__title {
  margin: 0;
  margin-bottom: 30px;
  color: $font-black;
  font-size: 36px;
  line-height: 60px;
  font-weight: 100;
}

.features__list {
  @include reset-list-style;
}

.features__list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.features__list-item::after {
  @include pseudo-clases;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $background-green;
  background-size: 80%;
}

.features__list-item--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.features__list-item--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.features__list-item--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.features__list-item--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

.features__list-description {
  width: 71%;
  margin: 0;
  margin-left: 80px;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
}

.features__list-description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    position: relative;
    padding-bottom: 10px;

    &::after {
      @include pseudo-clases;
      width: auto;
      height: 1px;
      left: -30px;
      right: -30px;
      bottom: 0;
      background-color: $border-color-block;
    }
  }

  .features__title {
    margin-bottom: 63px;
    font-size: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__list-item {
    width: 305px;
    margin-bottom: 85px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 120px;
    }
  }

  .features__list-item::after {
    width: 80px;
    height: 80px;
    background-size: 70%;
  }

  .features__list-item::before {
    @include pseudo-clases;
    top: -40px;
    left: 124px;
    width: auto;
    height: auto;
    color: $background-grey;
    font-size: 281px;
    line-height: 281px;
    font-weight: 100;
    z-index: -1;
  }

  .features__list-item--leaf::before {
    content: "1";
  }

  .features__list-item--powder::before {
    content: "2";
  }

  .features__list-item--dining::before {
    content: "3";
  }

  .features__list-item--clock::before {
    content: "4";
  }

  .features__list-description {
    margin-top: 110px;
    width: 81%;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .features__list-description br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features {
    &::after {
      display: none;
    }
  }

  .features__list-item {
    width: 245px;
  }
}
