.page-footer {
  background-color: $background-grey;
  padding: 0 20px;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 31px;

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-footer__social-buttons-list {
  display: flex;
  justify-content: center;

  @include reset-list-style;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.page-footer__social-buttons-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 62px;

  &:active {
    opacity: 30%;
  }
}

.page-footer__social-buttons-button--vk {
  padding-right: 7px;
}

.page-footer__social-buttons-button-icon path {
  fill: #666666;
}

.page-footer__social-buttons-button:hover path,
.page-footer__social-buttons-button:focus path {
  fill: $background-green;
}

.page-footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include reset-link-style;

  &:active {
    opacity: 30%;
  }
}

.page-footer__developer-link:hover path,
.page-footer__developer-link:focus path {
  fill: $background-green;
}

.page-footer__developer-link-title {
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
}

.page-footer__developer-link-image {
  width: 40px;
  height: 43px;
  margin-top: 18px;
  margin-right: -6px;
  margin-bottom: 14px;
}

.page-footer__developer-link-image path {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $desktop-width;
    padding: 0 30px;
  }

  .page-footer__logo {
    padding-top: 65px;
    padding-bottom: 63px;
  }

  .page-footer--catalog .page-footer__logo {
    padding-top: 62px;
  }

  .page-footer__social-buttons {
    display: flex;
    align-items: center;
  }

  .page-footer__social-buttons-list {
    margin-left: 32px;
    padding-bottom: 4px;
    border-top: none;
    border-bottom: none;
  }

  .page-footer__social-buttons-button {
    width: 50px;
  }

  .page-footer__social-buttons-button--vk .page-footer__social-buttons-button-icon {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-buttons-button--insta .page-footer__social-buttons-button-icon {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-buttons-button--fb .page-footer__social-buttons-button-icon {
    width: 14px;
    height: 28px;
  }

  .page-footer__developer-link-title {
    margin-right: 16px;
    padding-bottom: 4px;
  }

  .page-footer__developer-link-image {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 0 110px;
  }
}
