.program-selection {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.program-selection__text {
  margin: 0;
  margin-top: 25px;
  width: 226px;
  color: $font-black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

.program-selection__form {
  margin-top: 40px;
}

.program-selection__form-list {
  @include reset-list-style;
}

.program-selection__form-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.program-selection__form-item:last-child {
  margin-bottom: 0;
}

.program-selection__form-list--inputs {
  margin-bottom: 23px;
  margin-top: 21px;
}

.program-selection__form-item input:not([type="radio"]):not([type="checkbox"]),
.program-selection__form-group textarea[name="comments"] {
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  color: $font-grey;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

.program-selection__form-item input:not([type="radio"]):not([type="checkbox"]) {
  &:hover {
    border-color: $border-color-input;
  }

  &:focus {
    outline: none;
    border: 2px solid $font-grey;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid #ff8282;
  }
}

.program-selection__form-item input:not([type="radio"]):not([type="checkbox"]):focus ~ svg path {
  fill: $background-green;
}

.program-selection__form-item input:not([type="radio"]):not([type="checkbox"]):invalid:not(:placeholder-shown) ~ svg path {
  fill: #ff8282;
}

.program-selection__form-group textarea[name="comments"] {
  padding-top: 14px;
  width: 100%;
  height: 150px;
}

.program-selection__form-item label {
  margin-right: 15px;
  color: $font-medium-black;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-selection__form-item--name label {
  margin-right: 12px;
}

.program-selection__form-list--radio {
  width: 320px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 26px;
  padding-left: 65px;
  padding-bottom: 27px;
  border: 1px solid $border-color-block;
}

.program-selection__form-list--radio .program-selection__form-item,
.program-selection__form-list--additionally .program-selection__form-item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-selection__form-list--radio label,
.program-selection__form-list--additionally label {
  position: relative;

  &::before {
    @include pseudo-clases;
    top: -7px;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $border-color-input;
    background-color: $background-white;
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }

  &:active,
  &:active::before {
    opacity: 30%;
  }
}

.program-selection__form-list--radio input:checked ~ label::after,
.program-selection__form-list--additionally input:checked ~ label::after {
  @include pseudo-clases;
  top: 1px;
  left: -36px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $background-green;
}

.program-selection__form-item--email,
.program-selection__form-item--phone {
  position: relative;
}

.program-selection__form-item--email label {
  margin-right: 10px;
}

.program-selection__form-item--phone label {
  margin-right: 8px;
}

.program-selection__form-item--email svg {
  position: absolute;
  top: 16px;
  right: 16px;
}

.program-selection__form-item--phone svg {
  position: absolute;
  top: 13px;
  right: 13px;
}

.program-selection__form-list--additionally {
  margin-left: -20px;
  padding-left: 66px;
  padding-bottom: 40px;
}

.program-selection__form-list--additionally label {
  &::before {
    border-radius: 0;
  }
}

.program-selection__form-list--additionally input:checked ~ label::after {
  top: 0;
  left: -40px;
  width: 21px;
  height: 16px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
}

.program-selection__form-group {
  margin: 0;
  margin-top: 29px;
  padding: 0;
  border: none;
}

.program-selection__form-group--additionally {
  margin-top: 25px;
}

.program-selection__form-title {
  position: relative;
  display: table;
  margin-top: 28px;
  padding-left: 0;
  padding-right: 22px;
  margin-bottom: 33px;
  color: $font-black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  background-color: #ffffff;

  &::after {
    @include pseudo-clases;
    top: 14px;
    left: 0;
    width: calc(100vw - 20px);
    height: 3px;
    background-color: $background-green;
    z-index: -1;
  }
}

.program-selection__form-group--additionally .program-selection__form-title {
  margin-bottom: 41px;
}

.program-selection__form-button {
  width: 100%;
  font-size: 16px;
}

.program-selection__form-info {
  display: block;
  margin-top: 22px;
  margin-bottom: 31px;
  color: $font-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    margin-right: 36px;
  }

  .program-selection__text {
    width: 325px;
    margin-top: 56px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__form {
    margin-top: 65px;
  }

  .program-selection__form-title {
    padding-left: 39px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 21px;
      left: -28vw;
      width: 125vw;
    }
  }

  .program-selection__form-title--contacts br {
    display: none;
  }

  .program-selection__form-item {
    margin-bottom: 20px;
  }

  .program-selection__form-list--inputs {
    margin-bottom: 72px;
  }

  .program-selection__form-item input:not([type="radio"]):not([type="checkbox"]),
  .program-selection__form-group textarea[name="comments"] {
    height: 52px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__form-group textarea[name="comments"] {
    padding-top: 15px;
    height: 174px;
  }

  .program-selection__form-item label {
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__form-item--name label {
    margin-right: 17px;
  }

  .program-selection__form-item--email label {
    margin-right: 21px;
  }

  .program-selection__form-item--phone label {
    margin-right: 15px;
  }

  .program-selection__form-item--email svg {
    top: 20px;
    right: 20px;
  }

  .program-selection__form-item--phone svg {
    top: 17px;
    right: 17px;
  }

  .program-selection__form-list--radio {
    width: 630px;
    margin: 0 auto;
    padding-top: 33px;
    padding-left: 88px;
    padding-bottom: 35px;
  }

  .program-selection__form-list--radio .program-selection__form-item,
  .program-selection__form-list--additionally .program-selection__form-item {
    margin-bottom: 33px;
    margin-right: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .program-selection__form-list--radio label,
  .program-selection__form-list--additionally label {
    &::before {
      top: -9px;
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }

  .program-selection__form-list--radio input:checked ~ label::after,
  .program-selection__form-list--additionally input:checked ~ label::after {
    top: 3px;
    left: -49px;
    width: 18px;
    height: 18px;
  }

  .program-selection__form-list--additionally {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    padding-left: 0;
    padding-bottom: 12px;
  }

  .program-selection__form-list--additionally .program-selection__form-item:nth-child(2n-1) {
    width: 315px;
  }

  .program-selection__form-list--additionally label {
    padding-left: 79px;

    &::before {
      left: 20px;
    }
  }

  .program-selection__form-list--additionally input:checked ~ label::after {
    left: 31px;
  }

  .program-selection__form-group {
    margin-top: 65px;
  }

  .program-selection__form-group--contacts {
    margin-top: 76px;
  }

  .program-selection__form-group--additionally {
    margin-top: 62px;
  }

  .program-selection__form-group--additionally .program-selection__form-title {
    margin-bottom: 85px;
  }

  .program-selection__form-list--additionally .program-selection__form-item {
    margin-bottom: 52px;
    margin-right: 28px;

    &:last-child {
      margin-bottom: 52px;
    }
  }

  .program-selection__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 71px;
  }

  .program-selection__form-button {
    margin: 0;
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__form-info {
    width: 303px;
    margin: 0;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-width;
  }

  .program-selection__text {
    width: 450px;
    padding-left: 110px;
  }

  .program-selection__content-wrapper {
    margin: 0 auto;
    padding: 0 110px;
    max-width: $desktop-width;
  }

  .program-selection__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .program-selection__form-list--inputs {
    width: 570px;
    margin: 0;
  }

  .program-selection__form-list--radio {
    display: flex;
    flex-direction: column;
    width: 570px;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    padding-left: 87px;
    padding-bottom: 20px;
    margin-left: auto;
  }

  .program-selection__form-list--radio .program-selection__form-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .program-selection__form-title {
    margin-left: 70px;

    &::after {
      width: 123vw;
    }
  }

  .program-selection__form-group {
    margin-top: 68px;
  }

  .program-selection__form-group--additionally {
    margin-top: 69px;
  }

  .program-selection__form-group--contacts {
    margin-top: 69px;
  }

  .program-selection__form-list--contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .program-selection__form-list--contacts .program-selection__form-item {
    width: 570px;
    margin: 0;
  }

  .program-selection__form-item--phone svg {
    top: 19px;
    right: 19px;
  }

  .program-selection__form-group textarea[name="comments"] {
    display: block;
    margin: 0 auto;
    width: 1220px;
  }

  .program-selection__form-group--additionally .program-selection__form-title {
    margin-bottom: 65px;
  }

  .program-selection__form-list--additionally {
    padding-bottom: 20px;
  }

  .program-selection__form-list--additionally label {
    padding-left: 58px;

    &::before {
      left: 0;
    }
  }

  .program-selection__form-list--additionally input:checked ~ label::after {
    left: 12px;
  }

  .program-selection__form-list--additionally .program-selection__form-item:nth-child(n) {
    width: 240px;
    margin-right: 85px;

    &:last-child {
      margin-right: 0;
    }
  }

  .program-selection__bottom-wrapper {
    margin-bottom: 82px;
  }

  .program-selection__form-info {
    padding-bottom: 4px;
    width: 346px;
  }

  .program-selection__form-button {
    width: 568px;
  }
}
