.site-list {
  @include reset-list-style;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $font-black;
}

.site-list__item a {
  display: block;
  padding: 24px;

  @include reset-link-style;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $border-color-block;
}

.site-list__item:last-child a {
  margin-bottom: 18px;
  border-bottom: 1px solid $border-color-block;
}
