.offer {
  color: $font-white;
}

.offer__background {
  position: relative;
  height: 305px;
  margin-bottom: 135px;
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.offer__title {
  width: 280px;
  margin: auto;
  padding-top: 29px;
  padding-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  text-align: center;
}

.offer__slogan {
  width: 245px;
  margin: auto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.offer__image {
  position: absolute;
  top: 170px;
  left: calc(50% - 150px);
}

.offer__button {
  margin-bottom: 22px;
}
